$baseClass: home;
$home-padding: 0 10px 0 10px;


.#{$baseClass} {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;

  .booklist__header {
    border-bottom: solid silver 1px;
    padding: $home-padding;
    display: flex;
    align-items: stretch;
    //width: 80%;
    //position: relative;
    //left: 250px;

    div {
      //display: table-cell;
    }
  }

  .booklist__main {
    padding: $home-padding;
    margin-top: 10px;
  }

}

:export {
  baseClass: $baseClass
}
