$baseClass: app;

@import '../../styles/variables/colors';
@import '../../styles/variables/fonts';

.#{$baseClass} {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

   > section.main {
     display: flex;
     flex-direction: row;
   }
}

.layout__header {
  border: solid silver 1px;
  //padding: 15px 50px 0 15px;
  width: 100%;
  display: flex;
  justify-items: flex-start;
}


.banner {
  padding: 10px 10px 10px 10px;
  height: 72px;
  width: 213px;
}

.header-right {
  //position: absolute;
  //right: 100px;
  //top: 20px;
}


.user__container {
  padding: 10px 10px 10px 10px;
  margin-left: auto;
  display: flex;
  align-items: center;


  .headshot {
    cursor: pointer;
    color: silver;
    height: 55px;
    width: 55px;
    background-color: #FFFFFF;
  }


  .login {
    cursor: pointer;
    color: silver;
    font-family: $site-label-font;
    font-size: small;
    margin: 0 10px 0 10px;
  }
}

.sidebar {
  // Flex properties
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  // Positioning
  position: absolute;
  top: 95px;
  bottom: 0;
  //height: 200%;
  width: 200px;
  background-color: $site-baseColor;
  border: none;
  padding-top: 100px;

  .row {
    margin-top: 50px;
    text-align: center;
    padding: 25px 0 25px 0;

    svg {
      width: 70px;
      height: 70px;
    }
  }

  .row--selected {
    background-color: #FFFFFF;
  }
}

.sidebar--left {
  left: 0;
}

.sidebar--right {
  right: 0;
}

:export {
  baseClass: $baseClass
}
