$baseClass: loginModal;

@import '../../styles/variables/colors';
@import '../../styles/variables/fonts';

.#{$baseClass} {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 40%;
  top: 40%;
  border: solid $site-baseColor 2px;
  background-color: #FFF;
  opacity: 1;

   .close {
     height: 20.62px;
     width: 20.62px;
     color: $site-baseColor;
     cursor: pointer;
     font-family: "Arial Unicode MS";
   }

  .right {
    float: right;
  }
}

.on {
  display: inline-block;
}


:export {
  baseClass: $baseClass
}
