$baseClass: loginModal;
$baseColor: #7BA98F;

.#{$baseClass} {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 40%;
  top: 40%;
  border: solid $baseColor 2px;
  background-color: darkgray;
  opacity: 1;

   .close {
     height: 20.62px;
     width: 20.62px;
     color: $baseColor;
     cursor: pointer;
     font-family: "Arial Unicode MS";
   }

  .right {
    float: right;
  }
}

.on {
  display: inline-block;
}


:export {
  baseClass: $baseClass
}
