$baseClass: booklist;

@import '../../styles/variables/colors';

.#{$baseClass} {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;

  .book {
    flex: 0 0 15%;
    margin-bottom: 5%;
  }

  img {
    max-width: 50%;
    cursor: pointer;
  }
}


:export {
  baseClass: $baseClass
}
