$baseClass: booklist;

.#{$baseClass} {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;


  .book {
    flex: 0 0 15%;
    margin-bottom: 5%;
  }

  .book__div--on {
    display: block;
  }

  .book__div--off {
    display: none;
  }

  img {
    max-width: 50%;
    cursor: pointer;
  }
}

:export {
  baseClass: $baseClass
}
