$baseClass: rating;

.#{$baseClass} {
  .checked {
    color: gold;
  }
  .unchecked {
    color: darkgray;
  }

  span {
    color: silver;
    font-family: "Helvetica Neue", "Lucida Grande", serif;
    font-size: small;
  }
}


:export {
  baseClass: $baseClass
}
