$baseClass: rating;

.#{$baseClass} {
  .rating__span--checked {
    color: gold;
  }
  .rating__span--unchecked {
    color: darkgray;
  }

  span {
    color: #686868;
    font-family: "Helvetica Neue", "Lucida Grande", serif;
    font-size: small;
  }
}


:export {
  baseClass: $baseClass
}
